@primary: #dd99bb;
@secondary: #7b506f;
@tertiary: #82a8b8;

@bg-color: #fff;

@text-color: #333;
@text-light: lighten(@text-color, 15%);
@text-color-inv: @bg-color;

@form-color: @tertiary;
@bg-footer: @secondary;
